@import '~antd/dist/antd.css';

.InstitutionsOverview .container {
	margin-top: 10px;
	margin-left: 280px;
}

.InstitutionsOverview .container table {
    background-color: white;
    margin-right: 20px;
}
  
.InstitutionsOverview .container th, td {
    padding: 10px 10px 10px 30px;
    height: 55px;
}

.InstitutionsOverview .container th, tr {
    border-bottom: 1px solid rgb(231, 231, 231);
}

.InstitutionsOverview .container th:first-child, td:first-child {
    padding-left:20px;
}

.InstitutionsOverview .container th:last-child, td:last-child {
    padding-right:20px;
}

.InstitutionsOverview .container .alert {
	max-width: 300px;
	margin: auto;
	padding: auto;
}