.header {
	padding: 1px;
	/* background-color: rgb(203, 236, 255); */
	/* background-color: rgb(176, 224, 252); */
	/* background-color: #007bff; */
	/* background-color: #1e80e2;
	background-color: #249CCC; */
	background-color: #1F90CC;
	height: 40px;
}

h1 {
	/* color: rgb(0, 0, 0); */
	color: rgb(255, 255, 255);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	/* text-shadow: 1px 1px 1px rgb(255, 255, 255); */
	font-size: 25px;
}

.logo {
	margin-left: 10px;
	margin-top: 2px;
	width: 35px;
	display: block;
	height: 35px;
	float: left;
	margin-right: 10px;
}