.ReferralSignUpForm .main_form {
	max-width: 280px;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 5px;
	padding-bottom: 10px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ReferralSignUpForm .main_form .title {
	font-size: 18px;
	margin-left: 20px;
	margin-top: 30px;
	padding-top: 10px;
}

.ReferralSignUpForm .main_form .container {
	display: grid;
	margin-bottom: 10px;
}

.ReferralSignUpForm .main_form .container input {
	border: 1px solid;
	border-color: #ced4da;
	border-radius: 3px;
	width: 240px;
	margin-left: 5px;
}

.ReferralSignUpForm .main_form .container input:focus {
	border: 1px solid #1890ff;
}

.ReferralSignUpForm .main_form .container input.input-error {
	border: 1px solid;
	border-color: #dc3545;
}

.ReferralSignUpForm .main_form .container p.error-message {
	margin-left: 5px;
	margin-bottom: 0px;
	color: #dc3545;
}

.ReferralSignUpForm .main_form .container label {
	margin-left: 20px;
	font-weight: bold;
	color: #212529;
}

.ReferralSignUpForm button {
	/* styling */
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 3px;
	border: 1px solid transparent;
	font-weight: 400;
	text-align: center;
	
	/* colors */
	color: #ffffff;
	background-color: #1890ff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.ReferralSignUpForm button:hover {
	color: #077bff;
	background-color: #e1e1e1;
}

.ReferralSignUpForm button:focus {
	border: 1px solid #1890ff;
}

.ReferralSignUpForm .main_form .login {
	margin-left: 10px;
}

.ReferralSignUpForm .main_form .next {
	float: right;
	margin-right: 10px;
}

.ReferralSignUpForm .secondary_form {
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ReferralSignUpForm .secondary_form p {
	margin-left: 45px;
	display: inline;
}

.ReferralSignUpForm .secondary_form .signup {
	margin-right: 45px;
	float: right;
	font-weight: 600;
	color: #007bff;
}

.ReferralSignUpForm .secondary_form .signup:hover {
	text-decoration: underline;
}
