.AdminDoctorSelector .main_form {
	max-width: 280px;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 5px;
	padding-bottom: 10px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.AdminDoctorSelector .main_form .title {
	font-size: 18px;
	margin-left: 20px;
	margin-top: 30px;
	padding-top: 10px;
}

.AdminDoctorSelector .main_form .container {
	display: grid;
	margin-bottom: 10px;
}

.AdminDoctorSelector select {
	border: 1px solid;
	border-color: #ced4da;
	border-radius: 3px;
	width: 240px;
	min-height: 30px;
	margin-left: 5px;
}

.AdminDoctorSelector select:hover {
	border: 1px solid #1890ff;
}

.AdminDoctorSelector select.select-error {
	border: 1px solid;
	border-color: #dc3545;
}

.AdminDoctorSelector .container p.error-message {
	margin-left: 5px;
	margin-bottom: 0px;
	color: #dc3545;
}

.AdminDoctorSelector button {
	/* styling */
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 3px;
	border: 1px solid transparent;
	font-weight: 400;
	
	/* colors */
	color: #ffffff;
	background-color: #1890ff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.AdminDoctorSelector button:hover {
	color: #077bff;
	background-color: #e1e1e1;
}

.AdminDoctorSelector button:focus {
	border: 1px solid #1890ff;
}

.AdminDoctorSelector .main_form .back {
	margin-left: 10px;
}

.AdminDoctorSelector .main_form .submit {
	float: right;
	margin-right: 10px;
}