.nav2 {
    z-index: 10; 
    padding: 1px;
    position: fixed;
    border: 10px;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #1F90CC;    
}
.nav3 {
    z-index: 10; 
    padding: 1px;
    position: fixed;
    border: 10px;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: #1F90CC;    
}

.nav li{
    padding: 5px;
}

.nav .col-background-t{
    height: 500px;
    position: sticky;
    background-color: tomato;
}

.nav .fixed-bottom {
    width: 0px;
}

.butt{
    margin-top: 0px;
    margin-left: 172px;
    
}

.butt2{
    margin-left: 70px;
    
}