@import '~antd/dist/antd.css';

.home__bg {
    width: 100%;
    height: 100%;
}

.home__bg-image {
    background-color: rgb(215, 255, 154);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home__bg-image:before
{
    content: "";
    display: block;
    padding-top: 65%;
}

.home__bg-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}


.ant-row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

.ant-col {
    display: inline-block;
    width: 100%;
}

.paddedColumn {
    padding-left: 1px; 
    padding-right: 1px;
}

/* .ant-col div {
    background: rgb(0, 146, 255) none repeat scroll 0% 0%;
    padding: 8px 0px;
    height: 100%;
} */

.ant-card {
    /* background: rgb(180, 204, 255); */
    background: rgb(51, 248, 222);
    height: 100%;
}