@import '~antd/dist/antd.css';

.AdminPatientsOverview .container {
	margin-top: 10px;
	margin-left: 230px;
}

.AdminPatientsOverview .container .title {
	display: inline-block;
	margin-bottom: 20px;
}

.AdminPatientsOverview .container table {
    background-color: white;
    margin-right: 20px;
}
  
.AdminPatientsOverview .container th, td {
    padding: 10px 10px 10px 30px;
    height: 55px;
}

.AdminPatientsOverview .container th, tr {
    border-bottom: 1px solid rgb(231, 231, 231);
}

.AdminPatientsOverview .container th:first-child, td:first-child {
    padding-left:20px;
}

.AdminPatientsOverview .container th:last-child, td:last-child {
    padding-right:20px;
}

.AdminPatientsOverview .container .alert {
	max-width: 300px;
	margin: auto;
	padding: auto;
}

.AdminPatientsOverview .container .create-patient-button {
	float: right;
	margin-top: 10px;
	margin-right: 245px;
}